.app {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.username {
    color: #f29900;
}

.title {
    position: relative;
    font-size: 32px;
    padding: 16px 0px;
    border: 1px solid black;
    margin: 32px 0px;
}

.subtitle {
    font-size: 12px;
    margin-bottom: 32px;
}

.math-question {
    position: relative;
    padding: 16px 0px;
    margin-bottom: 8px;
    border: 1px solid black;
}

.component-identifier {
    position: absolute;
    left: 10px;
    top: -10px;
    background: white;
    padding: 0px 3px;
    font-size: 12px;
    font-weight: 600;
}

.validation-message {
    margin-top: 8px;
}

.api-test {
    position: relative;
    padding: 16px 0px;
    margin-top: 32px;
    font-weight: 600;
    border: 1px solid black;
}

.response-message {
    margin-left: 8px;
    text-transform: uppercase;
}

.error {
    color: #cc1100;
}

.valid {
    color: #279f66;
}
